body {
    align-items: center;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
}

.main-img {
    height: 500px;
    width: 1500px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

header {
    margin-top: -80px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.shop-text {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #00004d;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

.h {
    text-align: center;
    font-size: 24px;
    color: #00004d;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-container {
    display: flex;
    display: inline-flex;
    justify-content: space-between;
}

.product-card {
    margin-top: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    border: dashed;
    margin-left: 5px;
    margin-bottom: 10px;
}

.product-card img {
    height: 250px;
}

.product-card h4 {
    color: #00004d;
}

.product-card p {
    color: #333;
}

.product-card span {
    font-weight: bold;
    color: #ff4500;
}

.shop-text li a {
    text-decoration: none;
    position: relative;
}

.shop-text li a::after {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform 0.3s ease;
}

.shop-text li a:hover {
    transform: scale(1.1);
}

/* Media Query for screens with a max-width of 768px */
@media screen and (max-width: 768px) {
    .main-img {
        width: 100%;
    }

    .h {
        font-size: 18px;
    }
}
